.parent {
  /* Generelles Styling */
  height: 300px;
  background-color: #eee;
  border: 5px solid black;

  /* Flexbox-Verhalten wird auf dem Parent definiert */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: deeppink;
  border: 2px solid black;
}