/* Reset */
html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: Verdana, sans-serif;
  color: #2C3E50;
}

/* Mit @font-face kann ich eigene Schriftarten auf meiner Webseite verwenden. */
@font-face {

  /* Mit font-family den Namen angeben, mit der sie verwendet werden soll. */
  font-family: "Quicksand";

  /* Wo liegt die Schriftart bzw. die Datei? */
  src: url("fonts/Quicksand-Bold.ttf");

  font-weight: 700; /* bold */
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Regular.ttf");
    font-weight: 400; /* "normal" */
}

/*
 * Alternativ über Google Webfonts Helper (https://gwfh.mranftl.com/fonts) Fonts beschaffen :)
 * - Einfacheres UI
 * - woff2 Support (besseres / leichteres Format)
 * - @font-face Definitionen zum Rauskopieren
 */

/* Ab diesem Punkt kann ich die Schriftart "Quicksand" in CSS verwenden. */

section {
  /* Langschreibweise / explizit jede Seite angeben */
  /* padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px; */

  /* Kurzschreibweise(n) */
  /* Variante 1: padding: TOP RIGHT BOTTOM LEFT */
  /* Varianet 2: VERTICAL HORIZONTAL */
  padding: 50px 15px;
}

.container {
  /* Maximalbreite unseres containers */
  max-width: 1440px;

  /* div horizontal zentrieren */
  /* margin-left: auto;
  margin-right: auto; */

  /* Kurzschreibweise */
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
}

p {
  margin-top: 0;
}

a {
  /* Entfernen von Unterstrich */
  text-decoration: none;
  color: #2C3E50;
  margin-left: 15px;
}

a:hover {
  border-bottom: 2px solid #000;
}

img {
  /* Responsive Image: jedes Bild wird maximal so breit wie der Bildschirm. */
  max-width: 100%;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  background-color: #2ECC71;
  padding: 30px 15px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.splitter-left {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 25px;
  background-color: #F39C12; /* Orange */
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #F1C40F; /* Sunflower */
}

@media (min-width: 768px) {
  /* Wenn mein Bildschirm mindestens 1024px breit ist, 'greift' folgendes CSS. */
  .splitter {
    display: flex;
    gap: 2%;
  }

  .splitter-left, .splitter-right {
    width: 49%;
  }

  .splitter-left {
    margin-bottom: 0;
  }
}

/*
 * Dieses Media Query (MQ) wird nur angewendet wenn der User
 * 'Bewegung reduzieren" (o.Ä; je nach OS) in seinen Systemeinstellungen nicht abgeschaltet hat.
 */
@media (prefers-reduced-motion: no-preference) {
  html {
    /* Smooth scrolling für das ganze HTML setzen */
    scroll-behavior: smooth;
  }
}