/* Reset */
html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: Verdana, sans-serif;
  color: #2C3E50;
}

/* Mit @font-face kann ich eigene Schriftarten auf meiner Webseite verwenden. */
@font-face {

  /* Mit font-family den Namen angeben, mit der sie verwendet werden soll. */
  font-family: "Quicksand";

  /* Wo liegt die Schriftart bzw. die Datei? */
  src: url("fonts/Quicksand-Bold.ttf");

  font-weight: 700; /* bold */
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Regular.ttf");
    font-weight: 400; /* "normal" */
}

/*
 * Alternativ über Google Webfonts Helper (https://gwfh.mranftl.com/fonts) Fonts beschaffen :)
 * - Einfacheres UI
 * - woff2 Support (besseres / leichteres Format)
 * - @font-face Definitionen zum Rauskopieren
 */

/* Ab diesem Punkt kann ich die Schriftart "Quicksand" in CSS verwenden. */

section {
  /* Oben und unten 50px, seitlich 0 */
  /* padding: 50px 0; */
  margin: 300px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
}

p {
  margin-top: 0;
}

a {
  /* Entfernen von Unterstrich */
  text-decoration: none;
  color: #2C3E50;
  margin-left: 15px;
}

a:hover {
  border-bottom: 2px solid #000;
}

img {
  /* Responsive Image: jedes Bild wird maximal so breit wie der Bildschirm. */
  max-width: 100%;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  background-color: #2ECC71;
  padding: 30px 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  /* Wenn mein Bildschirm mindestens 1024px breit ist, 'greift' folgendes CSS. */
  .image-text-holder {
    display: flex;
    gap: 2%;
  }

  .image, .text {
    width: 49%;
  }

  .image {
    margin-bottom: 0;
  }
}

/*
 * Dieses Media Query (MQ) wird nur angewendet wenn der User
 * 'Bewegung reduzieren" (o.Ä; je nach OS) in seinen Systemeinstellungen nicht abgeschaltet hat.
 */
@media (prefers-reduced-motion: no-preference) {
  html {
    /* Smooth scrolling für das ganze HTML setzen */
    scroll-behavior: smooth;
  }
}