html {
  background-color: black;
  color: beige;
}

/* Ich kann auch mehrere Elemente gleichzeitig selektieren.
 * Trennen mit einem Beistrich.
 */
h1,
h2 {
  color: yellow;
}

h2 {
  margin-top: 40px;
}

/* Klassennamen sind frei zu vergeben / benennen und beginnen mit einem Punkt. */
.green {
  /* Farben können a) über RGB-Werte definiert werden */
  color: rgb(0, 255, 0);

  /* Oder in HEX-Variante, beginnend mit # */
  color: #00ff00;

  /* Wenn beide Zahlenwerte ident sind kann man sie nur einmal angeben. Wahnsinnig wichtig.. */
  color: #0f0;

  /* Oder wähle mir eine Farbe über den ColorPicker (Klick auf "Farbquadrat") */
  color: #2aa74d;
}

#contact {
  color: rgb(221, 183, 123);
}

.spacing {
  /* Padding: Innenabstand */
  padding: 30px;
  padding-top: 0;
}

/*
  Naming Conventions (Variablen Benennung)

  PascalCase: MyCoolClassName
  camelCase:  myCoolClassName     - z.B. in JavaScript
  snake_case: my_cool_class_name  - PHP
  kebap-case: my-cool-class-name  - CSS

  ABER das wichtigste: verwendet sprechende Namen!
  Beim Lesen sollte klar sein, was die Klasse macht.
*/