:root {
  /* CSS Variablen */

  /* Colour palette */
  --clr-primary: #ffd201;
  --clr-text: #243341;
  --clr-text-dark: #0d1217;

  /* Typography */
  --fs-larger: 18px;

  /* Misc */
  --space-main: 15px;
  --space-large: 30px;
  --header-height: 80px;
}

@media (min-width: 1024px) {
  :root {
    --space-main: 30px;
  }
}

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  scroll-padding-top: 80px;
}

/*
 * Dieses Media Query (MQ) wird nur angewendet wenn der User
 * 'Bewegung reduzieren" (o.Ä; je nach OS) in seinen Systemeinstellungen nicht abgeschaltet hat.
 */
@media (prefers-reduced-motion: no-preference) {
  html {
    /* Smooth scrolling für das ganze HTML setzen */
    scroll-behavior: smooth;
  }
}