/*
 * Mit @import kann ich andere CSS-Files in das aktuelle einbinden.
 * Heißt wenn ich alles hier im main.css einbinde, muss ich auf HTML-Seite
 * nur einmal das main.css einbinden und nicht alle Files einzeln.
 *
 * -- ACHTUNG!
 * Mit mehreren CSS-Files muss der Browser auch mehrere Requests machen -> Seite lädt langsamer.
 * Also nach der Entwicklungsphase entweder alle Files wieder zu einem Einzelnen zusammenfügen
 * oder gleich nur mit einem einzelnen, großen CSS-File arbeiten.
 *
 * Für unseren Web-Intro Kurs lassen wir das Zusammenfügen der Files mal aus :)
 */
@import 'base.css';

@import 'typography.css';
@import 'nav.css';


section {
  /* Langschreibweise / explizit jede Seite angeben */
  /* padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px; */

  /* Kurzschreibweise(n) */
  /* Variante 1: padding: TOP RIGHT BOTTOM LEFT */
  /* Varianet 2: VERTICAL HORIZONTAL */
  padding: 50px 15px;
}

.container {
  /* Maximalbreite unseres containers */
  max-width: 1080px;

  /* div horizontal zentrieren */
  /* margin-left: auto;
  margin-right: auto; */

  /* Kurzschreibweise */
  margin: 0 auto;
}

blockquote {
  font-style: italic;
}

img {
  /* Responsive Image: jedes Bild wird maximal so breit wie der Bildschirm. */
  max-width: 100%;
  height: auto;
}

.splitter-left {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 25px;
  background-color: var(--clr-primary);
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #F1C40F;
  /* Sunflower */

  color: #000;
}

.margin-top {
  margin-top: var(--space-main);
}

.gallery-holder {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-main);
}

.gallery-item {
  /* Wichtig, damit das image on hover nicht darüber 'hinausskaliert' wird!  */
  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
}

.gallery-holder img {
  display: block;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: all 200ms ease-in-out;
  opacity: 0.8;
}

@media (min-width: 768px) {

  /* Wenn mein Bildschirm breiter als oben angegeben ist, 'greift' folgendes CSS. */
  .splitter {
    display: flex;
    gap: 2%;
  }

  .splitter-left,
  .splitter-right {
    width: 49%;
  }

  .splitter-left {
    margin-bottom: 0;
  }

  .gallery-holder {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-large);
  }

  .gallery-holder img:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 60px var(--space-large);
  }
}