header {
  position: sticky;
  top: 0;
  background-color: var(--clr-primary);

  /* z-Index: Reihenfolge, wie die Layer übereinander liegen.
   * Je höher der Index, desto weiter oben der Layer. */
  z-index: 1;
}

nav a {
  font-weight: 700;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-main);
  height: var(--header-height);
}

/* Ausblenden der Desktop Navigation auf mobile */
.desktop-nav {
  display: none;
}

.mobile-nav-drawer {
  position: fixed;
  right: 0;
  top: var(--header-height);
  width: 250px;
  height: 100%;
  background-color: var(--clr-primary);
  transform: translateX(250px);
  /* Um die Breite von sich selbst nach rechts (X) verschieben */
  transition: transform 300ms ease-in-out;
}

/* Wenn unser drawer zusätzlich auch die is-active Klasse hat, dann dieses Styling anwenden */
.mobile-nav-drawer.is-active {
  transform: translateX(0);
}

.mobile-nav-drawer nav {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-top: 1px solid #9d9c9c;
}

.mobile-nav-drawer nav a {
  padding: 15px;
  margin: 15px 0;
  text-align: right;
  font-size: var(--fs-larger);
}

/* Ab dieser Breite wird die Sichtbarkeit der beiden Navigationen gewechselt. */
@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    gap: var(--space-main);
  }

  .desktop-nav a {
    padding: 4px;
    border-bottom-width: 3px;
  }
}