/* Mit @font-face kann ich eigene Schriftarten auf meiner Webseite verwenden. */
@font-face {

  /* Mit font-family den Namen angeben, mit der sie verwendet werden soll. */
  font-family: "Quicksand";

  /* Wo liegt die Schriftart bzw. die Datei? */
  src: url("../fonts/Quicksand-Bold.ttf");

  font-weight: 700;
  /* bold */
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
  font-weight: 400;
  /* "normal" */
}

/* Ab diesem Punkt kann ich die Schriftart "Quicksand" in CSS verwenden. */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

p {
  margin-top: 0;
}

.text-large {
  font-size: 18px;
}