/* Mit @font-face kann ich eigene Schriftarten auf meiner Webseite verwenden. */
@font-face {

  /* Mit font-family den Namen angeben, mit der sie verwendet werden soll. */
  font-family: "Quicksand";

  /* Wo liegt die Schriftart bzw. die Datei? */
  src: url("../fonts/Quicksand-Bold.ttf");

  font-weight: 700;
  /* bold */
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
  font-weight: 400;
  /* "normal" */
}

/*
 * Alternativ über Google Webfonts Helper (https://gwfh.mranftl.com/fonts) Fonts beschaffen :)
 * - Einfacheres UI
 * - woff2 Support (besseres / leichteres Format)
 * - @font-face Definitionen zum Rauskopieren
 */

/* Ab diesem Punkt kann ich die Schriftart "Quicksand" in CSS verwenden. */

body {
  font-family: Verdana, sans-serif;
  color: var(--clr-text);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-text-dark);
  font-family: "Quicksand", sans-serif;
  margin-bottom: calc(var(--space-main) / 2);
  letter-spacing: 1.2px;
}

h2 {
  font-size: 30px;
}

p {
  margin-top: 0;
}

.text-large {
  font-size: var(--fs-larger);
}

a {
  /* Entfernen vom Unterstrich */
  text-decoration: none;
  color: var(--clr-text);
}

footer,
footer * {
  /* Vermeidet krasse schwarz / weiß Kontraste. 'Weiches' Schwarz oder etwas dunkles Weiß ist angenehmer für die Augen. */
  background-color: var(--clr-text);
  color: var(--clr-text-light);
}

@media (min-width: 1024px) {

  /* Selektirere mir alle links OHNE klasse .btn */
  a:not(.btn) {
    /* Transparent damit 'springen' bei hover vermieden wird */
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in-out;
  }

  a:not(.btn):hover {
    /* Damit hover-styles nicht fälschlicherweise auf mobile getriggert werden. */
    color: var(--clr-text-dark);
    border-bottom-color: var(--clr-text-dark);
  }

  footer a:not(.btn):hover {
    color: var(--clr-text-lighter);
    border-bottom-color: var(--clr-text-lighter);
  }
}